@model TransactionDashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

<div>
    <h1 class="text-center display-4 mb-4">Dashboard</h1>
    
    <div class="text-center mb-4">
        <p class="lead text-uppercase mb-1">Balance</p>
        <h2>@Model.Balance CZK</h2>
    </div>

    @if (Model.Transactions.Count() > 0)
    {
        <div class="d-flex justify-content-evenly">
                <div class="mx-5" style="width: fit-content; max-width: 33%">
                    <p class="lead text-uppercase text-center mb-1">Recent transactions</p>
                    <div class="d-grid">
                    <div class="row fw-bold pb-2">
                            <div class="col-3 px-4">Date</div>
                            <div class="col-3 px-4">Amount</div>
                            <div class="col-3 px-4">Description</div>
                            <div class="col-3 px-4">Category</div>
                        </div>
                        @foreach (var transaction in Model.Transactions)
                        {
                            <div class="row pb-1">
                                <div class="col-3 px-4">@transaction.TransactionDate.ToShortDateString()</div>
                                <div class="col-3 px-4">@transaction.Amount</div>
                                <div class="col-3 px-4">@transaction.Description</div>
                                <div class="col-3 px-4">@transaction.Category.Name</div>
                            </div>
                        }
                    </div>
                    <button 
                        type="button"
                        class="btn btn-primary d-block mx-auto my-2 text-uppercase"
                        onclick="location.href='@Url.Action("Index", "Transaction")'">
                        View all transactions
                    </button>
                </div>

            <div class="mx-5" style="width: 33%">
                    <!-- Hidden fields for passing category data to JavaScript -->
                    <input type="hidden" id="categoryNames" value='@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.CategorySummaries.Select(cs => cs.CategoryName).ToList()))' />
                    <input type="hidden" id="categoryAmounts" value='@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.CategorySummaries.Select(cs => cs.TotalAmount).ToList()))' />

                    <!-- Canvas for the pie chart -->
                    <div>
                        <p class="lead text-uppercase text-center mb-1">Transactions by category</p>
                        <div>
                            <canvas id="dashboardChart"></canvas>
                        </div>
                    </div>
                </div>
        </div>
        
    }
    else
    {
        <p>No recent transactions.</p>
        <p>Add some transactions <a href="@Url.Action("Index", "Transaction")">here</a></p>
    }
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/js/dashboardChart.js"></script>