@model TransactionDashboardViewModel

<div class="text-center">
    <div class="display-1">@Model.Balance CZK</div>
    <div class="display-6">Recent transactions</div>
    @if (Model.Transactions.Count() > 0)
    {
        <table>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Description</th>
            </tr>
            @foreach (var transaction in Model.Transactions)
            {
                <tr>
                    <td>@transaction.TransactionDate.ToShortDateString()</td>
                    <td>@transaction.Amount</td>
                    <td>@transaction.Description</td>
                </tr>
            }
        </table>
        <a href="@Url.Action("Index", "Transaction")">View all transactions</a>
    }
    else
    {
        <p>No recent transactions.</p>
        <p>Add some transactions <a href="@Url.Action("Index", "Transaction")">here</a></p>
    }
</div>