@model TransactionDashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

<div class="text-center">
    <div class="display-1">@Model.Balance CZK</div>
    <div class="display-6">Recent transactions</div>
    @if (Model.Transactions.Count() > 0)
    {
        <table>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Category</th>
            </tr>
            @foreach (var transaction in Model.Transactions)
            {
                <tr>
                    <td>@transaction.TransactionDate.ToShortDateString()</td>
                    <td>@transaction.Amount</td>
                    <td>@transaction.Description</td>
                    <td>@transaction.Category.Name</td>
                </tr>
            }
        </table>
        <a href="@Url.Action("Index", "Transaction")">View all transactions</a>


        <!-- Hidden fields for passing category data to JavaScript -->
        <input type="hidden" id="categoryNames" value='@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.CategorySummaries.Select(cs => cs.CategoryName).ToList()))' />
        <input type="hidden" id="categoryAmounts" value='@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.CategorySummaries.Select(cs => cs.TotalAmount).ToList()))' />

        <!-- Canvas for the pie chart -->
        <div class="mt-4">
            <canvas id="dashboardChart"></canvas>
        </div>
    }
    else
    {
        <p>No recent transactions.</p>
        <p>Add some transactions <a href="@Url.Action("Index", "Transaction")">here</a></p>
    }
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/js/dashboardChart.js"></script>