@model TransactionIndexViewModel

@{
    ViewBag.Title = "Transactions";
}

<h1 class="text-center display-4 mb-4">Transactions</h1>

<button type="button"
        class="btn btn-primary text-uppercase d-block mx-auto mb-4"
        onclick="location.href='@Url.Action("Add", "Transaction")'">
    Add new transaction
</button>

<div class="mx-auto">
    <form method="get" asp-action="Index" class="row align-items-end justify-content-center mb-4 needs-validation" novalidate>
        <div class="col-auto">
            <label class="form-label" for="categoryId">Category</label>
            <select class="form-select" id="categoryId" name="categoryId">
                <option value="">All</option>
                <!-- Populate categories -->
                @foreach (var category in ViewBag.Categories)
                {
                    if (category.CategoryId == Model.FilterCategoryId)
                    {
                        <option value="@category.CategoryId" selected>@category.Name</option>
                    }
                    else
                    {
                        <option value="@category.CategoryId">@category.Name</option>
                    }
                }
            </select>
        </div>
        <div class="col-auto">
            <label class="form-label" for="month">Month</label>
            <input class="form-control" type="number" id="month" name="month" value="@Model.FilterMonth" min="1" max="12" />
        </div>
        <div class="col-auto">
            <label class="form-label" for="year">Year</label>
            <input class="form-control" type="number" id="year" name="year" min="1000" max="3000" value="@Model.FilterYear" />
        </div>
        <div class="col-auto">
            <label class="form-label" for="description">Description</label>
            <input class="form-control" type="text" id="description" name="description" value="@Model.FilterDescription" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-secondary">Filter</button>
        </div>
    </form>

    <div class="mx-auto" style="max-width: 25vw">
        @if (TempData["ErrorMessage"] is not null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                @TempData["ErrorMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        @if (TempData["SuccessMessage"] is not null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["SuccessMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    </div>

    @if (Model.Transactions.Count() > 0)
    {
        <table class="table table-hover mx-auto mb-4" style="max-width: 45vw">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var transaction in Model.Transactions)
                {
                    <tr>
                        <td>@transaction.TransactionDate.ToShortDateString()</td>
                        <td>@transaction.Amount</td>
                        <td>@transaction.Description</td>
                        <td>@transaction.Category.Name</td>
                        <td class="text-end">
                            <button type="button"
                                    class="btn btn-outline-primary text-uppercase"
                                    onclick="location.href='@Url.Action("Update", "Transaction", new { transactionId = transaction.TransactionId })'">
                                Edit
                            </button>
                            <button type="button"
                                    class="btn btn-outline-danger text-uppercase"
                                    onclick="location.href='@Url.Action("Remove", "Transaction", new { transactionId = transaction.TransactionId })'">
                                Delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="text-center mx-auto mb-4">
            <p class="lead">No transactions match the specified filters. Try a broader search.</p>
        </div>
    }

    <ul class="pagination justify-content-center my-4">
        @for (int i = 1; i <= Math.Ceiling((double)Model.TotalCount / Model.PageSize); i++)
        {
            <li class="page-item @((i == Model.CurrentPage) ? "active" : "")">
                <a 
                    class="page-link"
                    href="@Url.Action("Index", 
                    new { 
                        pageIndex = i, 
                        pageSize = Model.PageSize, 
                        categoryId = Model.FilterCategoryId, 
                        month = Model.FilterMonth, 
                        year = Model.FilterYear, 
                        description = Model.FilterDescription 
                    })">
                    @i
                </a>
            </li>
        }
    </ul>
</div>