@model TransactionIndexViewModel

<style>
    .pagination {
        display: flex;
        list-style: none;
        padding: 0;
    }

        .pagination li {
            margin-right: 5px;
        }

            .pagination li a {
                text-decoration: none;
                padding: 5px 10px;
                border: 1px solid #ccc;
                color: #333;
            }

                .pagination li a.active {
                    background-color: #007bff;
                    color: #fff;
                }
</style>

<div class="text-center">
    <div class="display-1">@Model.Balance CZK</div>
    <a href="@Url.Action("Add", "Transaction")">Add New Transaction</a>
    @if (Model.Transactions.Count() > 0)
    {
        <table>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Category</th>
            </tr>
            @foreach (var transaction in Model.Transactions)
            {
                <tr>
                    <td>@transaction.TransactionDate.ToShortDateString()</td>
                    <td>@transaction.Amount</td>
                    <td>@transaction.Description</td>
                    <td>@transaction.Category.Name</td>
                    <td><a href="@Url.Action("Update", "Transaction", new { transactionId = transaction.TransactionId })">Edit</a></td>
                    <td><a href="@Url.Action("Remove", "Transaction", new { transactionId = transaction.TransactionId })">Delete</a></td>
                </tr>
            }
        </table>
    }

    <!-- Pagination -->
    <ul class="pagination">
        @for (int i = 1; i <= Math.Ceiling((double)Model.TotalCount / Model.PageSize); i++)
        {
            <li><a href="?pageIndex=@i" class="@((i == Model.CurrentPage) ? "active" : "")">@i</a></li>
        }
    </ul>
</div>